[Unit]
Description=Start docker container with status "exited" after docker daemon start
After=docker.service
Wants=docker.service

[Service]
Type=oneshot

# Security hardening
CapabilityBoundingSet=
DevicePolicy=closed
LockPersonality=yes
MemoryDenyWriteExecute=yes
NoNewPrivileges=yes
PrivateDevices=yes
PrivateTmp=yes
ProtectClock=yes
ProtectControlGroups=yes
ProtectHome=read-only
ProtectKernelModules=yes
ProtectKernelTunables=yes
ProtectProc=invisible
ProtectSystem=strict
RestrictAddressFamilies=AF_UNIX AF_NETLINK
RestrictNamespaces=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes

ExecSearchPath=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin

ExecStart=sleep 30
ExecStart=bash -c 'docker ps --all --format '\''{{ .Names }}'\'' --filter '\''status=exited'\'' | xargs --no-run-if-empty --max-lines=1 bash -c '\''docker inspect $0 | (grep --quiet "cannot join network of a non running container" && docker start $0 || true)'\'''

[Install]
WantedBy=docker.service
